---
layout: default
---

<!--                                                                 
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

{% include intro.html %}

<hr>

{% include team-preview.html %}

<hr>

{% include projects.html %}

<hr>

<!-- uncomment this if you want collaborations to appear like projects, above -->
<!-- {% include collaborations.html %}

<hr> -->
<!-- note that _pages/collaborations.html is the 'cards' page, and _layouts/collaboration.html is the individual pages for collabs -->
<!-- _includes/collaborations.html is for the OLD front-page collab cards - NOT USED, DON'T TOUCH -->

<!--{% include services.html %}

<hr> 

{% include testimonial.html %}

<hr> -->

<!-- even though called clients, this is our 'collaborations' carousel -->
{% include clients.html %}

<hr>

{% include latest-posts.html %}

<!-- <hr>
{% include cta.html %} -->


