<section id="collaborations" class="bg-white">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <h3 class="section-title text-center rev">Our Collaborations</h3>
		</div>
	  </div>
  
	  <div class="owl-carousel owl-theme carousel-3 rev">
		{% assign collaborations = site.collaborations | where_exp: "item", "item.logo" %}
		{% for item in collaborations %}
		  <div class="item text-center">
			<a href="{{ item.url | relative_url }}">
				<div class="item text-center position-relative collaboration-item">
				<a href="{{ item.url | relative_url }}">
					<img src="{{ item.logo | relative_url }}" alt="{{ item.title }}" class="collaboration-logo">
					<div class="collab-hover-label">{{ item.title }}</div>
				</a>
				</div>
			</a>
		  </div>
		{% endfor %}
	  </div>
	</div>
  </section>
  