<section id="intro">
  <div class="">
    <div class="owl-carousel owl-theme carousel-1">
      <div class="item position-relative">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/groupPhoto_VGEB.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Virus Evolution</p>
          <h1>How do viruses change over time?</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/emma-presents.jpg' | relative_url}})"></div>
        <div class="text-container position-absolute">
          <p>Epidemiology</p>
          <h1>How do our behaviours impact virus transmission?</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/autumnPhylogeny.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Immunity</p>
          <h1>What is the interplay between our immunity and virus evolution?</h1>
        </div>
      </div>
    </div>
  </div>
</section>