<div class="col-md-4 mb-4">
    <a href="{{ include.person.url | relative_url }}" class="card h-100 shadow-sm text-decoration-none text-dark person-card">
      <div class="card-body text-center">
        <img src="{{ include.person.image | relative_url }}" class="rounded-circle mb-3" alt="{{ include.person.title }}" style="width: 100px; height: 100px; object-fit: cover;">
        <h5 class="card-title mb-1">{{ include.person.title }}</h5>
        <p class="text-muted mb-2">{{ include.person.position }}</p>
  
        {% if include.person.quote %}
          <div class="person-quote-hover">“{{ include.person.quote }}”</div>
        {% endif %}
  
        <ul class="team-social d-flex justify-content-center list-unstyled mb-0">
          {% if include.person.twitter %}
            <li class="mx-1"><a href="{{ include.person.twitter }}"><i class="fa fa-twitter-square fa-lg"></i></a></li>
          {% endif %}
          {% if include.person.bluesky %}
            <li class="mx-1"><a href="{{ include.person.bluesky }}"><i class="fa fa-skyatlas fa-lg"></i></a></li>
          {% endif %}
          {% if include.person.facebook %}
            <li class="mx-1"><a href="{{ include.person.facebook }}"><i class="fa fa-facebook-official fa-lg"></i></a></li>
          {% endif %}
          {% if include.person.linkedin %}
            <li class="mx-1"><a href="{{ include.person.linkedin }}"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
          {% endif %}
          {% if include.person.github %}
            <li class="mx-1"><a href="{{ include.person.github }}"><i class="fa fa-github-square fa-lg"></i></a></li>
          {% endif %}
          {% if include.person.orcid %}
            <li class="mx-1"><a href="{{ include.person.orcid }}"><i class="fa fa-leaf fa-lg"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </a>
  </div>
