<section id="projects" class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title text-center rev">Our Projects</h3>
      </div>
    </div>

    <div class="projects__project-wrapper row">
      {% for item in site.data.projects %}
      <div class="projects__project col-xs-12 col-sm-6 col-lg-4 text-center rev">
        <a href="{{item.link | relative_url}}">
          <div class="projects__project__preview" style="background-image: url({{item.image | relative_url }})">
          </div>
          <div class="projects__project__description">
            <div class="info-wrapper">
              <h3 class="projects__project__name">{{item.title}}</h3>
              <p class="projects__project__category">{{item.category}}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>