---
layout: default
---
<!--                            
This layout is used for posts. Changing anything here will affect all posts(not pages)
 -->

<div class="post">
  <main>
    <header class="position-relative text-center rev">
      <div class="header-image" style="background-image: url({{page.image | relative_url}})"></div>
      <h1 class="post-title position-absolute">{{page.title}}</h1>
    </header>
    <div class="container">
      <div class="blog-content pd">
        <div class="row">
          <div class="col-md-12">
            {% include breadcrumbs.html %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 meta">
            <p><small>
                <span>
                  <i class="fa-regular fa-calendar-days" aria-hidden="true"></i> {{page.date | date_to_string }}&nbsp;
                </span>
                {% assign author_slug = page.author %}
                {% assign author_obj = site.people | where: "slug", author_slug | first %}

                <span>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  {% if author_obj %}
                    <a href="{{ author_obj.url | relative_url }}">{{ author_obj.title }}</a>
                  {% else %}
                    {{ author_slug | replace: '-', ' ' | capitalize }}
                  {% endif %}
                </span>
                <span>
                  <i class="fa-regular fa-clock" aria-hidden="true"></i> {% include reading-time.html %}
                </span>
              </small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <article>
              {% unless page.toc == false %}
                {% include toc.html html=content class="toc.rev.clearfix" %}
              {% endunless %}
              {{content}}
            </article>
            {% if site.share %}
            {% include share-buttons.html %}
            {% endif %}

            {% if page.categories %}
            {% include categories-post.html %}
            {% endif %}


            {% if page.author %}
            {% include author.html %}
            {% endif %}

            {% if site.disqus %}
            {% include disqus.html %}
            {% endif %}

            {% include recent.html %}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>